
# =========================
# UNITY (Ochrona silnika)
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Ii]mport[Ll]og.txt
*.apk
*.unitypackage
*.appx
*.swp
*.userprefs
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.erf

# =========================
# VISUAL STUDIO & C# (.NET)
# =========================
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache